<div class="container">
  <h2>Mis datos</h2>
  <mat-card class="inline">
    <h4>Email:</h4>
    <mat-form-field class="md">
      <input matInput placeholder="Email" [disabled]="!stateEmail" value="{{user.Email}}">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="stateEmail" [checked]="stateEmail.disabled">
    </mat-checkbox>
  </mat-card>
  <mat-card class="inline">
    <h4>Nombre:</h4>
    <mat-form-field class="md">
      <input matInput placeholder="Nombre" [disabled]="!stateFullName" value="{{user.FullName}}">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="stateFullName" [checked]="stateFullName.disabled">
    </mat-checkbox>
  </mat-card>
  <mat-card class="inline">
    <h4>Celular:</h4>
    <mat-form-field class="md">
      <input matInput #phone maxlength="9" placeholder="Celular" [disabled]="!statePhone" value="{{user.Phone}}">
      <mat-hint align="end">{{phone.value.length}} / 9</mat-hint>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="statePhone" [checked]="statePhone.disabled">
    </mat-checkbox>
  </mat-card>
  <h2>Datos nesesarios para comprar y vender </h2>
  <mat-card class="inline">
    <h4>Fecha de nacimiento</h4>
    <mat-form-field class="md">
      <input matInput placeholder="Fecha de nacimiento" [disabled]="!stateDateOfBirth" value="{{user.DateOfBirth}}">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="stateDateOfBirth" [checked]="stateDateOfBirth.disabled">
    </mat-checkbox>
  </mat-card>
  <mat-card class="inline">
    <h4>Departamento:</h4>
    <mat-form-field class="md">
      <input matInput placeholder="Departamento" [disabled]="!stateDepartament" value="{{user.Departament}}">
    </mat-form-field>
    <mat-checkbox matTooltip="Editar" hidden [(ngModel)]="stateDepartament" [checked]="stateDepartament.disabled">
        <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-checkbox>
  </mat-card>
  <mat-card class="inline">
    <h4>Ciudad:</h4>
    <mat-form-field class="md">
      <input matInput placeholder="Ciudad" [disabled]="!stateCity" value="{{user.stateCity}}">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="stateCity" [checked]="stateCity.disabled">
    </mat-checkbox>
  </mat-card>
  <mat-card class="inline">
    <h4>Barrio:</h4>
    <mat-form-field class="md">
      <input matInput placeholder="Barrio" [disabled]="!stateNeighborhood" value="{{user.Neighborhood}}">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="stateNeighborhood" [checked]="stateNeighborhood.disabled">
    </mat-checkbox>
  </mat-card>
  <mat-card class="inline">
    <h4>Calle:</h4>
    <mat-form-field class="md">
      <input matInput placeholder="Calle" [disabled]="!stateStreet" value="{{user.Street}}">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="stateStreet" [checked]="stateStreet.disabled">
    </mat-checkbox>
  </mat-card>
</div>