.md {
    width: 50%;
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

h4 {
    width: 20%;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

h2 {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.discontinued p {
    width: 80%;
    margin-bottom: 0;
}

.discontinued {
    background-color: #ff7733;
    color: white;
}

.authorized {
    background-color: #51A351;
    color: white;
}

.confirmEmail {
    background-color: yellow
}