<div class="container">
  <h2>Mis datos</h2>
  <mat-card *ngIf="user.Status == 2" class="discontinued inline">
      <h4>Estas suspendido para vender</h4>
      <button mat-button class="btn-transparent">ver mas</button>
    </mat-card>
    <mat-card *ngIf="user.Status == 1" class="authorized inline">
        <h4>Estas autorizado para vender</h4>
      </mat-card>
  <div class="inline">
      <h2>Datos personales</h2>
      <button mat-button class="btn-primary" (click)="showDialog()">Actualizar</button>
  </div>
  <p-dialog header="Confirmar contraseña" [modal]="true" [draggable]="false" [(visible)]="display">
    <p>Para guardar los cambios confirme su contraseña</p>
      <mat-form-field class="example-full-width" style="width: 100%">
          <input matInput placeholder="Contraseña" [formControl]="passwordFormControl" name="password" type="password">
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="error" style="font-size: 14px;">
            {{error}}
          </mat-error>
        <button mat-button class="btn-primary" (click)="UpdateInformation()">Confirmar</button>        
  </p-dialog>
  <mat-card>
  <div class="inline">
    <h4>Email:</h4>
    <mat-form-field class="md">
      <input matInput placeholder="Email" [(ngModel)]="user.Email" [disabled]="!stateEmail" value="{{user.Email}}">
    </mat-form-field>
    <mat-checkbox color="primary" [(ngModel)]="stateEmail" [checked]="stateEmail.disabled">
    </mat-checkbox>
  </div>
  <div class="inline">
    <h4>Nombre:</h4>
    <mat-form-field class="md">
      <input matInput placeholder="Nombre" [disabled]="!stateFullName" [(ngModel)]="user.FullName" value="{{user.FullName}}">
    </mat-form-field>
    <mat-checkbox color="primary" [(ngModel)]="stateFullName" [checked]="stateFullName.disabled">
    </mat-checkbox>
  </div>
  <div class="inline">
    <h4>Celular:</h4>
    <mat-form-field class="md">
      <input matInput #phone maxlength="9" placeholder="Celular" [(ngModel)]="user.Phone" [disabled]="!statePhone" value="{{user.Phone}}">
      <mat-hint align="end">{{phone.value.length}} / 9</mat-hint>
    </mat-form-field>
    <mat-checkbox color="primary" [(ngModel)]="statePhone" [checked]="statePhone.disabled">
    </mat-checkbox>
  </div>
</mat-card>

  <h2>Datos nesesarios para comprar y vender </h2>
  <mat-card>
  <div class="inline">
    <h4>Fecha de nacimiento</h4>
    <mat-form-field class="md">
      <input matInput placeholder="Fecha de nacimiento" [(ngModel)]="user.DateOfBirth" [disabled]="!stateDateOfBirth" value="{{user.DateOfBirth}}">
    </mat-form-field>
    <mat-checkbox color="primary" [(ngModel)]="stateDateOfBirth" [checked]="stateDateOfBirth.disabled">
    </mat-checkbox>
  </div>
  <div class="inline">
    <h4>Departamento:</h4>
    <mat-form-field class="md">
      <input matInput placeholder="Departamento" [disabled]="!stateDepartament" [(ngModel)]="user.Departament" value="{{user.Departament}}">
    </mat-form-field>
    <mat-checkbox color="primary" [(ngModel)]="stateDepartament" [checked]="stateDepartament.disabled">
    </mat-checkbox>
  </div>
  <div class="inline">
    <h4>Ciudad:</h4>
    <mat-form-field class="md">
      <input matInput placeholder="Ciudad" [disabled]="!stateCity" [(ngModel)]="user.City" value="{{user.City}}">
    </mat-form-field>
    <mat-checkbox color="primary" [(ngModel)]="stateCity" [checked]="stateCity.disabled">
    </mat-checkbox>
  </div>
  <div class="inline">
    <h4>Barrio:</h4>
    <mat-form-field class="md">
      <input matInput placeholder="Barrio" [disabled]="!stateNeighborhood" [(ngModel)]="user.Neighborhood" value="{{user.Neighborhood}}">
    </mat-form-field>
    <mat-checkbox color="primary" [(ngModel)]="stateNeighborhood" [checked]="stateNeighborhood.disabled">
    </mat-checkbox>
  </div>
  <div class="inline">
    <h4>Calle:</h4>
    <mat-form-field class="md">
      <input matInput placeholder="Calle" [disabled]="!stateStreet" [(ngModel)]="user.Street" value="{{user.Street}}">
    </mat-form-field>
    <mat-checkbox color="primary" [(ngModel)]="stateStreet" [checked]="stateStreet.disabled">
    </mat-checkbox>
  </div>
</mat-card>
</div>