.md{
    width: 50%;
}

.inline{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

h4{
    width: 20%;
    margin-bottom: 0;
}

.discontinued h4{
    width: 80%;
    margin-bottom: 0;
}

.discontinued{
    background-color: #ff7733;
}

.authorized{
    background-color: #51A351;
    color: white;
}