header > h1, a{
    display: inline-block;
}

header > h1{
    width: 600px;
}

.example-card {
  min-width: 224px;
  /*display: inline-block;*/
  margin: 0 8px 60px;
  float: left;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

section{
    margin: auto;
    max-width: 1200px;
}
.custom{
    font-size: 18px;
}