.login-container {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.btn-login {
  margin-left: auto !important;
  margin-right: auto!important;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  transition: .3s;
}
.mat-card-header-text {
    margin: auto !important;
}
.example-card {
  padding: 55px;
}
.card-title {
  margin: auto;
  text-align: center;
}
.btn-signin {
  transition: .3s;
  margin: auto;
  display: block;
  text-align: center;
  width: 50%;
  height: 35px;
  padding: 8px 4px;
  border-radius: 4px;
}
  .btn-signin:hover {
    background: #cce6ff;
    padding-top: 10px;
  }
.btn-login-container {
  height: 65px;
  display: block;
}
.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 1px 2px 15px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
}

.top-section{
  position: relative;
  background: #5294E2;
  width: 100vw;
  height: calc(50vh - 100px);
}
