<div class="top-section">
</div>
<div class="login-container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title style="margin: auto!important; text-align: center; font-size: 22px; margin-bottom: 20px!important;">{{ 'LoginMessage' | translate }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form class="example-form" (keydown.enter)="login()">
          <table class="example-full-width" cellspacing="0" style="width: 100%">
            <tr>
              <td>
                <!-- E-mail -->
                <mat-form-field class="example-full-width" style="width: 100%">
                  <input matInput placeholder="{{ 'UserOrEmail' | translate }}" [formControl]="emailFormControl" name="username">
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <!-- Password -->
                <mat-form-field class="example-full-width" style="width: 100%">
                  <input matInput placeholder="{{ 'Password' | translate }}" [formControl]="passwordFormControl" name="password" type="password">
                  <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
        <mat-error *ngIf="error" style="font-size: 14px;">
            {{error}}
          </mat-error>
        <!--<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>-->
      </mat-card-content>

      <mat-card-actions>
        <div class="btn-login-container">
          <button mat-raised-button (click)="login()" color="primary" class="btn-login btn-primary">{{ 'Login' | translate }}</button>
        </div>
        <a class="btn-signin btn-transparent" routerLink="/home/signin">{{ 'Signin' | translate }}</a>
      </mat-card-actions>

    </mat-card>
</div>
