<div class="top-section">
    <h2 class="title-categorie-selection">¡Hola! Antes que nada cuéntanos,
        ¿qué vas a publicar?</h2>
</div>

<div class="container-popular-categories">
  <div class="container-card">
    <mat-card class="favorites-card mat-elevation-z transparent text-center">
      <mat-card-content>
          <i class="fas fa-home"></i>
      </mat-card-content>
      <hr>
      <mat-card-subtitle>
        Inmuebles y propiedades
      </mat-card-subtitle>
    </mat-card>
  </div>

  <div class="container-card">
      <mat-card class="favorites-card mat-elevation-z transparent text-center">
        <mat-card-content>
            <i class="fas fa-car-side"></i>
            <!--<i class="fas fa-car"></i>-->
        </mat-card-content>
        <hr>
        <mat-card-subtitle>
         Vehículos
        </mat-card-subtitle>
      </mat-card>
  </div>

  <div class="container-card">
      <mat-card class="favorites-card mat-elevation-z transparent text-center">
        <mat-card-content>
            <i class="fas fa-mobile-alt"></i>
        </mat-card-content>
        <hr>
        <mat-card-subtitle>
          Telefonía y computación
        </mat-card-subtitle>
      </mat-card>
  </div>

  <div class="container-card">
      <mat-card class="favorites-card mat-elevation-z transparent text-center">
        <mat-card-content>
            <i class="fas fa-tshirt"></i>
        </mat-card-content>
        <hr>
        <mat-card-subtitle>
            Ropa, calzado y accesorios
        </mat-card-subtitle>
      </mat-card>
  </div>
    

</div>
