.searcher {
    padding: 5px 10px;
    width: 800px;
    font-size: 30px;
    color: white;
    outline: none;
    border: 0px;
    font-family: 'Roboto', "Helvetica Neue", sans-serif!important;
    font-weight: 100!important;
    background-color: transparent;
}

.buttonSearch {
    background: transparent;
    border: 0;
    color: white;
}

.search {
    padding: 5px;
    background: transparent;
    border-bottom: 2px solid white;
}

::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.buttonSearch i {
    font-size: 30px;
}