.container-main {
    height: calc(100vh - 76px);
    ;
    align-items: center;
    justify-content: space-around;
    background: #ffc244;
    flex-direction: column;
    /*background-image: url('../../../../assets/images/4.jpg');
  background-repeat: round;*/
    /*Las lindas --> 4, 12, 15, */
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    position: relative;
    top: 0;
    width: 100vw;
    z-index: 1;
    /*background: rgb(245,246,251);
  background: linear-gradient(180deg, rgba(245,246,251,1) 0%, rgba(173,174,174,1) 100%);*/
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: auto;
    height: 50px;
    outline: none;
}