.container-main {
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url('../../../../assets/images/4.jpg');
  background-repeat: round;
  /*Las lindas --> 4, 12, 15, */
  display: flow-root;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
  /*background: rgb(245,246,251);
  background: linear-gradient(180deg, rgba(245,246,251,1) 0%, rgba(173,174,174,1) 100%);*/
}
.search-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
