.container-create{
    display: inline-flex;
    width: 100%;
    padding: 30px 100px;
}
.container-subcategory{
    width: 21%;
}

.container-form{
    width: 33%;
    margin-left: 20px;
    margin-right: 20px;
}
.custom-card{
    width: 100%;
    padding: 20px 45px;
    margin: 20px 0px;
}
.full-width{
    width: 100%;
}
a{
    color: #757575;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .radio-button {
    margin: 5px;
    color: rgba(0,0,0,.54);
  }

  .btn-post{
      float: right;
  }

  .checkbox-margin {
    margin: 0 10px;
  }

  .font{
    font-family: 'Roboto', "Helvetica Neue", sans-serif !important;
    font-weight: 100 !important;
  }