<h2 class="title-popular-categories" (click)="test()">Categorías populares</h2>

<div class="container-popular-categories">

  <div *ngFor="let category of categories" class="container-card" (click)="navigateToCategory(category)">
    <mat-card class="mat-elevation-z transparent text-center">
      <mat-card-title>
        {{ category.Name }}
      </mat-card-title>
      <hr />
      <mat-card-subtitle>
        Info about the category
      </mat-card-subtitle>
    </mat-card>
  </div>

</div>
