<h2 class="title-popular-categories">Popular Categories</h2>
<div class="container-popular-categories">

  <div class="container-card">
    <mat-card class="favorites-card mat-elevation-z transparent text-center">
      <mat-card-title>
        Categoría 1
      </mat-card-title>
      <hr />
      <mat-card-subtitle>
        Info about the category
      </mat-card-subtitle>
    </mat-card>
  </div>

  <div class="container-card">
    <mat-card class="favorites-card mat-elevation-z transparent text-center">
      <mat-card-title>
        Categoría 1
      </mat-card-title>
      <hr />
      <mat-card-subtitle>
        Info about the category
      </mat-card-subtitle>
    </mat-card>
  </div>

  <div class="container-card">
    <mat-card class="favorites-card mat-elevation-z transparent text-center">
      <mat-card-title>
        Categoría 1
      </mat-card-title>
      <hr />
      <mat-card-subtitle>
        Info about the category
      </mat-card-subtitle>
    </mat-card>
  </div>

  <div class="container-card">
    <mat-card class="favorites-card mat-elevation-z transparent text-center">
      <mat-card-title>
        Categoría 1
      </mat-card-title>
      <hr />
      <mat-card-subtitle>
        Info about the category
      </mat-card-subtitle>
    </mat-card>
  </div>

</div>
