.publication-profile {
    margin-top: 50px;
    width: 100%;
    height: 70vh;
}

.photo {
    width: 70%;
    height: 100%;
    float: left;
    padding: 30px;
    border-right: 1px solid grey;
}

.general-information {
    width: 30%;
    height: 50%;
    float: left;
    padding: 40px 30px;
    border-bottom: 1px solid grey;
}

.seller-information {
    width: 30%;
    height: 50%;
    float: left;
    padding: 30px;
    text-align: center;
}

.btn-favorite {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    transition: all 200ms ease;
}

.header {
    width: 100%;
    height: 15%;
}

.header-right {
    width: 50%;
    right: 10px;
    float: left;
    text-align: end;
}

.header-left {
    width: 50%;
    left: 10px;
    float: left;
}

mat-card-subtitle i {
    margin-right: 10px;
}

mat-card-subtitle i span {
    padding-left: 4px;
}

mat-card-subtitle:last-child {
    margin: -13px 2px;
}

.photo-section {
    height: 70%;
}

.photo-section img {
    display: flex;
    margin: auto;
    height: -webkit-fill-available;
}

.product-info {
    font-size: 12px;
    margin: -10px 0 20px 0;
    color: #5294e2;
}

.btn-buy {
    color: white;
    width: 80%;
    margin: auto;
    display: -webkit-box
}

.reputation {
    margin: auto;
    height: 20px;
    width: 17%;
}

.red {
    background-color: rgba(255, 0, 0, 0.486);
}

.orange {
    background-color: rgba(255, 166, 0, 0.486);
}

.yellow {
    background-color: rgba(255, 255, 0, 0.486);
}

.green {
    background-color: green;
}

.reputation-container {
    display: flex;
    width: 100%;
}

.seller-container {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.contact {
    height: 15%;
}

.seller-content {
    width: 50%;
    float: left;
}

.title {
    margin-bottom: 5px;
}

.information {
    height: 85%;
}