.top-section {
    padding: 20px;
    background: #5294e2;
    width: 100vw;
    height: calc(50vh - 100px);
    color: white;
    text-align: center;
}

.code {
    font-size: 24px;
    color: #FFC244;
    outline: none;
    border: 0px;
    font-family: 'Roboto', "Helvetica Neue", sans-serif!important;
    font-weight: 100!important;
    background-color: transparent;
    background: transparent;
    border-bottom: 2px solid #FFC244;
}

.container {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -100px;
    flex-direction: column;
}

.confirm {
    font-size: 23px;
    width: 100%;
    padding: 5px;  
}

.container h3{
    margin: 0;
}