<button
  mat-button
  [matMenuTriggerFor]="profileMenu"
  class="options"
  matTooltip="{{ 'MyAccount' | translate }}"
>
  <i class="fas fa-user-circle"></i>
</button>
<mat-menu #profileMenu="matMenu" xPosition="before">
  <div class="profile-content">
    <mat-card class="profile-card mat-elevation-z">
      <mat-card-header>
        <i class="fas fa-user-circle"></i>
        <mat-card-title>{{ "Hello" | translate }} Alejandro!</mat-card-title>
        <mat-card-subtitle>Alejandro.Albarenga@anima.edu.uy</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <button mat-button class="btn-account">
          {{ "MyAccount" | translate }}
        </button>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="btn-transparent">
          {{ "Shopping" | translate }}
        </button>
        <button mat-button>{{ "Sales" | translate }}</button>
        <button mat-button routerLink="/user/information">{{ "MyData" | translate }}</button>
        <button mat-button>{{ "Security" | translate }}</button>
        <button mat-button (click)="logout()">
          {{ "Logout" | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-menu>
