/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/css?family=Raleway&display=swap";
@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";
html,
body {
    height: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', "Helvetica Neue", sans-serif!important;
    font-weight: 100!important
}

body {
    margin: 0;
    font-family: 'Roboto', "Helvetica Neue", sans-serif!important;
    background-color: #f7f6f6;
}

.mat-car-title {
    font-family: 'Roboto', "Helvetica Neue", sans-serif!important;
    font-weight: 100!important
}

.mat-card-header-text {
    margin: auto !important;
    font-family: 'Roboto', "Helvetica Neue", sans-serif!important;
    font-weight: 100!important
}

.mat-menu-panel {
    max-width: max-content !important;
}

.mat-menu-content {
    padding-bottom: 0 !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #5294e2 !important;
    color: white!important;
    font-family: 'Roboto', sans-serif!important;
    font-weight: lighter!important;
}

.btn-transparent {
    color: #5294e2 !important;
    font-family: 'Roboto', sans-serif!important;
    font-weight: lighter!important;
}

.subtitle-green {
    color: #0aa252 !important;
    font-family: 'Roboto', sans-serif!important;
    font-weight: lighter!important;
}

.mat-focused .mat-form-field-label {
    color: #5294e2 !important;
}

.mat-focused .mat-form-field-ripple {
    background-color: #5294e2 !important;
}

:enabled.mat-raised-button.mat-primary {
    background-color: #5294e2;
}

.bg-red {
    background: rgb(78, 112, 251)!important;
    background: linear-gradient(180deg, rgba(78, 112, 251, 1) 0%, rgba(95, 81, 206, 1) 100%)!important;
}

.mat-button {
    font-family: 'Roboto', sans-serif!important;
    font-weight: 100!important;
}

.ui-panel-images {
    width: 600px;
}

.mat-card-title {
    font-weight: 100!important;
}

.mat-form-field-infix {
    font-family: 'Roboto', sans-serif!important;
    font-weight: 100!important;
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}