/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/css?family=Raleway&display=swap";

html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f7f6f6;
}
.mat-card-header-text {
  margin: auto !important;
}

.mat-menu-panel {
  max-width: max-content !important;
}

.mat-menu-content {
  padding-bottom: 0 !important;
}

.container {
  padding: 0 10%;
}

.btn-primary {
  background-color: #5294e2 !important;
  color: white!important;
}

.btn-transparent {
  color: #5294e2 !important;
}

.subtitle-green {
  color: #0aa252 !important;
}

.mat-focused .mat-form-field-label {
  color: #5294e2 !important;
}

.mat-focused .mat-form-field-ripple {
  background-color: #5294e2 !important;
}

:enabled.mat-raised-button.mat-primary {
  background-color: #5294e2;
}
