<div class="top-section">
</div>
<div class="signin-container">
   <mat-card class="example-card">

     <mat-grid-list cols="2" rowHeight="300px">
       <mat-grid-tile>
         <div class="controles-container">
           <mat-card-header style="height: 48px; align-items: center;">
             <mat-card-title style="text-align: left; font-size: 23px; margin-bottom: 20px; margin-left: -16px;">{{ 'SignupMessage' | translate }}</mat-card-title>
           </mat-card-header>
           <mat-form-field class="example-full-width" style="width: 100%">
             <input matInput placeholder="{{ 'Name' | translate }}" [(ngModel)]="userData.Name" type="text" name="name" required>
           </mat-form-field>
           <mat-form-field class="example-full-width" style="width: 100%">
             <input matInput placeholder="{{ 'PhoneNumber' | translate }}" [(ngModel)]="userData.Phone" type="tel" name="phone" required>
           </mat-form-field>
           <mat-form-field class="example-full-width" style="width: 100%">
             <input matInput placeholder="E-mail" [(ngModel)]="userData.Email" type="email" name="email" required>
           </mat-form-field>
         </div>
       </mat-grid-tile>

       <mat-grid-tile>
         <div class="controles-container">
           <mat-card-header style="height: 48px; float: right; align-items: center;">
             <a class="link-company-account">{{ 'CreateCompanyAccount' | translate }}</a>
           </mat-card-header>
           <mat-form-field class="example-full-width" style="width: 100%">
             <input matInput placeholder="{{ 'Surname' | translate }}" [(ngModel)]="userData.Surname" name="surname" required>
           </mat-form-field>
           <div class="space">
           </div>
           <mat-form-field class="example-full-width" style="width: 100%">
             <input matInput placeholder="{{ 'Password' | translate }}" [(ngModel)]="userData.Password" type="password" name="password" required>
           </mat-form-field>
         </div>
       </mat-grid-tile>
     </mat-grid-list>

     <mat-grid-list cols="2" rowHeight="60px">
       <mat-grid-tile>
         <button mat-raised-button (click)="signin()" color="primary" class="btn-signin" [disabled]="!buttonEnabled">{{ 'Signin' | translate }}</button>
       </mat-grid-tile>
       <mat-grid-tile>
         <p class="signin-conditions">
           <mat-checkbox class="example-margin"
                         [(ngModel)]="buttonEnabled"
                         [(indeterminate)]="indeterminate"
                         [labelPosition]="labelPosition"
                         [disabled]="disabled">
           </mat-checkbox>
           {{ 'SigninConditions1' | translate }}
           <a>{{ 'PrivacyPolicy' | translate }}</a>
           {{ 'SigninConditions2' | translate }}
           <a>{{ 'TermsAndConditions' | translate }}</a>
           {{ 'OfNosbey' | translate }}
         </p>
       </mat-grid-tile>
     </mat-grid-list>
   </mat-card>
</div>
