<div class="list-component container">
  <div class="filters">
    <mat-list>
      <h3>Busqueda</h3>
      <mat-card-subtitle>3 resultados</mat-card-subtitle>
      <div>
        <p mat-subheader>Ordenar por:</p>
        <mat-form-field>
          <mat-select [(value)]="selected">
            <mat-option value="option3">Mas visitados</mat-option>
            <mat-option value="option1">Menor precio</mat-option>
            <mat-option value="option2">Mayor precio</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button class="btn-sortby">
          <i class="fas fa-list"></i>
        </button>
        <button mat-button class="btn-sortby">
          <i class="fas fa-th-large"></i>
        </button>
      </div>
    </mat-list>
  </div>
  <div class="list">
    <mat-list>
      <a *ngFor="let product of Publications">
        <mat-card class="publication-card mat-elevation-z">
          <mat-card-content>
            <img class="modeless-box-img" [attr.src]="product.img" />
            <mat-card-title
              class="publication-name"
              (click)="navegateToProduct(product)"
              >{{ product.name }}</mat-card-title
            >
            <mat-card-subtitle>{{ product.price }}</mat-card-subtitle>
            <mat-card-subtitle
              class="subtitle-green"
              *ngIf="product.Shipping"
              >{{ "FreeShipping" | translate }}</mat-card-subtitle
            >
            <mat-card-subtitle *ngIf="product.state">{{
              "New" | translate
            }}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="!product.state">{{
              "Used" | translate
            }}</mat-card-subtitle>
          </mat-card-content>
          <button class="btn-favorite btn-transparent">
            <i
              class="far fa-heart"
              *ngIf="!added"
              (click)="addFav()"
              matTooltip="{{ 'AddToFav' | translate }}"
            ></i>
            <i
              class="fas fa-heart"
              *ngIf="added"
              (click)="removeFav()"
              matTooltip="{{ 'DeleteFav' | translate }}"
            ></i>
          </button>
        </mat-card>
        <mat-divider></mat-divider>
      </a>
    </mat-list>
    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = $event"
    >
    </mat-paginator>
  </div>
</div>
