.navbar {
    min-height: auto;
    background-color: transparent;
    color: white;
    position: relative;
    z-index: 2;
}

.section-up {
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.section-down {
    height: 76px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.section-down i {
    font-size: 26px;
}

.logo {
    width: auto;
    height: 40px;
    outline: none;
}

.navbar-section-navegation {
    display: flex;
    font-size: 20px
}

.navbar-section-options {
    display: flex;
}

.modules {
    display: flex;
    flex-direction: column;
}

.options {
    border-radius: 20px;
    padding: 0 30px;
}

.navbar-section-navegation button:hover {
    background: rgba(#5294e2, 0.3);
    color: #5294e2;
}

.navbar-section-options .options:hover {
    color: #5294e2;
}