.navbar {
    width: 100%;
    height: 100px;
    background-color: #30475B;
    display: flex;
    flex-direction: row;
    padding: 0% 10%;
}

.search{
    height: 50%;
    width: 100%;
    display: flex;
}

.modules{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar-section-logo {
    width: 10%;
    margin: auto;
}

.navbar-section-navegation {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.navbar-section-options {
    display: flex;
    width: 35%;
    flex-direction: column;
}

.navbar-section-navegation button {
    display: flex;
    background: transparent;
    color: #cccccc;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    justify-content: space-between;
    transition: all 200ms ease;
    padding: 15px 20px;
    align-items: flex-end;
}

.navbar-section-navegation button:hover {
    background: rgba(#397fc6, 0.30);
    color: #eeeeee;
}

.navbar-section-options button {
    display: flex;
    background: transparent;
    color: #cccccc;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    justify-content: space-between;
    transition: all 200ms ease;
    align-items: flex-end;
}

.navbar-section-options button:hover {
    color: #eeeeee;
}

.navbar-section-options .options{
    font-size: 20px;
    padding: 10px;
}

.navbar-section-options .options:hover {
    color:#86C6FF;
}

.item{
    display: flex;
}
button .favorites{
    margin-right: 5px;
}

.btn-favorites {
    padding: 15px 20px;
}