<div class="navbar" [ngStyle]="{ 'background-color': navbarColor }">
    <!-- <div class="section-up container">
        <img class="logo" routerLink="/home/main" alt="Angular Logo" src="assets/logoBlanco.png" />
        <button style="visibility: hidden"></button>
    </div> -->
    <div class="section-down container">
        <!-- <app-categories-menu *ngIf="flag"></app-categories-menu>
        <div class="navbar-section-navegation" *ngIf="flag">
            <div class="item">
                <button mat-button routerLink="/publications/new">
            <span>{{ "Sell" | translate }}</span>
          </button>
            </div>
            <div class="item">
                <button mat-button routerLink="/user/history">
            <span>{{ "History" | translate }}</span>
          </button>
            </div>
            <div class="item">
                <button mat-button routerLink="/home/stores">
            <span>{{ "OfficialStores" | translate }}</span>
          </button>
            </div>
            <div class="item">
                <button mat-button>
            <span>{{ "OffersWeek" | translate }}</span>
          </button>
            </div>
        </div> -->
        <i size="2x" class="fas fa-bars" (click)="test()"></i>
        <app-search *ngIf="searchNadvar"></app-search>
        <div class="navbar-section-options">
            <div class="modules" *ngIf="flag && logged">
                <div class="item">
                    <app-favorites></app-favorites>
                </div>
                <div class="item">
                    <app-notifications></app-notifications>
                </div>
                <div class="item">
                    <app-profile></app-profile>
                </div>
            </div>
            <div class="modules" *ngIf="flag && !logged">
                <div class="item">
                    <button mat-button class="options btn-primary" matTooltip="{{ 'Login' | translate }}" routerLink="/home/login">
                    Login
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<mat-sidenav-container class="example-container" [style.width]="width + '%'" (backdropClick)="close()">
    <mat-sidenav #sidenav mode="over" class="sidenav">
            <div class="img">
                <ul>
                    <li>
                        <i class="fab fa-facebook-f black"></i>
                    </li>
                    <li> 
                        <i class="fab fa-twitter black"></i>
                    </li>
                    <li>
                        <i class="fab fa-instagram black"></i>
                    </li>
                    <li>
                        <i class="fab fa-google-plus-g black"></i>
                    </li>
                </ul>
            </div>
        <mat-list>
            <mat-list-item routerLink="/home/main" (click)="close()"> Home </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/publications/new" (click)="close()"> Vender </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/user/history" (click)="close()"> Historial </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> Categorías </mat-list-item>
           </mat-list>
    </mat-sidenav>
  </mat-sidenav-container>
  