<div class="navbar container" [ngStyle]="{ 'background-color': navbarColor }">
  <div class="navbar-section-logo">
    <img
      width="50"
      class="logo"
      routerLink="/home/main"
      alt="Angular Logo"
      src="assets/logoBlanco.png"
    />
  </div>
  <div class="seccion-up">
    <div class="searcher-container"*ngIf="searchNadvar">
      <app-search></app-search>
    </div>
  </div>
  <div class="seccion-down">
    <div class="navbar-section-navegation">
      <div class="modules" *ngIf="flag">
        <div class="item">
          <button mat-button>
            <span>{{ "Sell" | translate }}</span>
          </button>
        </div>
        <div class="item">
          <button mat-button>
            <span>{{ "History" | translate }}</span>
          </button>
        </div>
        <div class="item">
          <button mat-button>
            <span>{{ "OfficialStores" | translate }}</span>
          </button>
        </div>
        <div class="item">
          <button mat-button>
            <span>{{ "OffersWeek" | translate }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="navbar-section-options">
      <div class="modules" *ngIf="flag && logged">
        <div class="item">
          <app-favorites></app-favorites>
        </div>
        <div class="item">
          <app-notifications></app-notifications>
        </div>
        <div class="item">
          <app-profile></app-profile>
        </div>
      </div>
      <div class="modules" *ngIf="flag && !logged">
        <div class="item">
          <button
            mat-button
            class="options"
            matTooltip="{{ 'Login' | translate }}"
            routerLink="/home/login"
          >
            <i class="fas fa-sign-in-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
