<div class="navbar container">
  <div class="navbar-section-logo">
    <img width="50" class="logo" routerLink="/home/main" alt="Angular Logo" src="assets/logo.png"
    />
  </div>

  <div class="navbar-section-navegation" *ngIf="showNavbar">
    <div class="modules" *ngIf="!userLogin">
      <div class="item">
        <button mat-button>
          <span>{{ 'Sell' | translate }}</span>
        </button>
      </div>
      <div class="item">
        <button mat-button>
          <span>{{ 'History' | translate }}</span>
        </button>
      </div>
      <div class="item">
        <button mat-button>
          <span>{{ 'OfficialStores' | translate }}</span>
        </button>
      </div>
      <div class="item">
        <button mat-button>
          <span>{{ 'OffersWeek' | translate }}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="navbar-section-options" *ngIf="showNavbar">
    <div class="modules" *ngIf="logged">
      <div class="item">
        <app-favorites></app-favorites>
      </div>
      <div class="item">
        <app-notifications></app-notifications>
      </div>
      <div class="item">
        <app-profile></app-profile>
      </div>
    </div>
    <div class="modules" *ngIf="!logged && !userLogin">
      <div class="item">
        <button mat-button class="options" matTooltip='{{ "Login" | translate }}' (click)="login()" routerLink="/home/login">
          <i class="fas fa-sign-in-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
